body {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-color: #fd7c61;
}

.filter {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 483px;
  margin: 20px auto;
  background-color: #ca634e;
  border: 3px solid #ca634e;
  border-radius: 25px;
}

.filter__input {
  display: none;
}

.filter__toggle {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #fd7c61;
  border-radius: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.filter__input_1:checked ~ .filter__toggle {
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
}

.filter__input_2:checked ~ .filter__toggle {
  -webkit-transform: translate(82px);
  -ms-transform: translate(82px);
  transform: translate(82px);
}

.filter__input_3:checked ~ .filter__toggle {
  -webkit-transform: translate(162px);
  -ms-transform: translate(162px);
  transform: translate(162px);
}

.filter__input_4:checked ~ .filter__toggle {
  -webkit-transform: translate(245px);
  -ms-transform: translate(245px);
  transform: translate(245px);
}

.filter__input_5:checked ~ .filter__toggle {
  -webkit-transform: translate(323px);
  -ms-transform: translate(323px);
  transform: translate(323px);
}

.filter__input_6:checked ~ .filter__toggle {
  -webkit-transform: translate(403px);
  -ms-transform: translate(403px);
  transform: translate(403px);
}

.filter__option {
  position: relative;
  width: 80px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  z-index: 1;
}

